<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<base href="/" />
	<!-- Amsterdam Design System fonts -->
	<script src="https://static.amsterdam.nl/fonts/mtiFontTrackingCode.min.js"></script>
	<link href="https://static.amsterdam.nl/fonts/fonts.css" rel="stylesheet" />
	<title>DMS Upload</title>
</head>

<body>
	<div id="root"></div>
	<script>
		window.baseURL = window.location.origin;
		window.imageBaseURL = window.location.origin + '/images/';
	</script>
</body>

</html>
